:root {
  --black: #2f2d2d;
  --super-black: #000;
  --yellow: #fdd51e;
  --red: #ff0000;
  --grey: #c5c5c5;
  --lightgrey: #f2f6f9;
  --blue: #0e9aff;
  --charcoal: #828694;
  --white: #ffffff;
  --dark-grey: #696969;
}
