.h1-super-big,
.h1-mid-bold {
  user-select: none;
  position: relative;
  display: block;
  width: fit-content;
  color: var(--super-black);
  font-family: 'TradeGothic', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.h1-super-big {
  font-size: 50px;
  line-height: 50px;

  @media (min-width: 992px) {
    font-size: 80px;
    line-height: 80px;
  }
}

.h1-super-big.head-black-bg {
  display: block;
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;

  padding: 40px 0;

  @media (min-width: 992px) {
    padding: 80px 0;
  }
}

.h1-super-big.stars::after,
.h1-super-big.stars::before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 33px;
  height: 33px;
  transform: translateY(-50%);
  background-image: url('../assets/images/star.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.h1-super-big.stars::after {
  left: -43px;
}

.h1-super-big.stars::before {
  right: -43px;
}

.h1-mid-bold {
  font-size: 42px;
  line-height: 50px;
}

.h1-mid-bold.stars::after,
.h1-mid-bold.stars::before {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
  background-image: url('../assets/images/star.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.h1-mid-bold.stars::after {
  left: -20px;
}

.h1-mid-bold.stars::before {
  right: -20px;
}

.h1-medium {
  font-family: 'TradeGothic', sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;

  @media (min-width: 400px) {
    font-size: 32px;
    line-height: 48px;
  }

  @media (min-width: 576px) {
    font-size: 48px;
    line-height: 48px;
  }
}

.h2-bold-upper {
  font-family: 'TradeGothic', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.h4-medium {
  font-family: 'TradeGothic', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;

  font-size: 20px;
  line-height: 24px;
}

.h4-bold {
  font-family: 'TradeGothic', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 28px;
}
.p-lg-medium {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 1.1px;
}
.p-mid-regular {
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.36px;
}

.p-mid-medium {
  font-size: 18px;
  line-height: 31px;
  font-weight: bold;
}

.p-sm-medium {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.p-sm-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 22.4px;
}
.p-super-small {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.p-crumps {
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.12px;
  color: #848484;
}

.p-crumps.active {
  font-weight: 800;
  letter-spacing: 0.24px;

  color: #121212;
}
