.account-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px 0;
}

.account-input span {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
  color: var(--white);
}

.account-input input {
  width: 100%;
  padding: 8px 10px;
  background-color: var(--white);
  border-radius: 5px;
  border: none;

  @media (min-width: 576px) {
    padding: 16px 10px;
  }
}

.account-input input::placeholder {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: var(--charcoal);
}
