.create {
  background-color: var(--super-black);
  padding: 30px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

.create .h1-super-big {
  color: var(--white);
  margin: 0 auto 30px;
  text-align: center;

  @media (min-width: 992px) {
    margin-bottom: 110px;
  }
}

.form-create-account {
  max-width: 420px;
  margin-inline: auto;
}

.form-create-account .btn {
  margin-top: 10px;
  width: 100%;
}
