.reset {
  background-color: var(--super-black);
  padding: 30px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

.reset .h1-super-big {
  color: var(--white);
  margin: 0 auto 30px;
  text-align: center;

  @media (min-width: 992px) {
    margin-bottom: 110px;
  }
}

.reset .p-sm-bold {
  margin-bottom: 40px;
  color: var(--white);
  text-align: center;
}

.form-reset-password {
  max-width: 440px;
  margin-inline: auto;
}

.form-reset-password .btn {
  margin-top: 10px;
  width: 100%;
}
