.faq .title {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 320px;
}

.faq .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 20px;
  max-width: 1060px;

  @media (min-width: 960px) {
    padding: 60px 40px;
  }

  @media (min-width: 1140px) {
    padding: 60px 0;
  }
}

.faq .container h3 {
  margin-bottom: 40px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.11px;
}

.faq .accordion {
  margin-top: 30px;
  max-width: 1060px;
  cursor: pointer;
}

.accordion-label_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.accordion-label_block .label {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.36px;
}

.accordion-label_block .minus {
  display: none;
}

.accordion .content {
  margin-bottom: 20px;
  max-height: 0;
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion.active .content {
  max-height: auto;
  transition: max-height 0.3s ease;
}

.accordion .hr {
  border-bottom: 1px solid var(--black);
}
